# Dependency Ignore
/node_modules/

# IDE
.idea
.buildpath
.project
.settings
.DS_Store
.nbproject
*.iml
.metadata

# Vim swap
*.swp
.swp
.swo
*.swo
.swn
*.swn

# Config
Config.json
test200.json
test403.json

# Tools
updateConfig.php
*.log
/.sass-cache/
# Windows
desktop.ini
.sass-cache/

