# Dependency Ignore
/node_modules/

# IDE
.idea
.buildpath
.project
.settings
.DS_Store
.nbproject
*.iml
.metadata

# Vim swap
*.swp
.swp
.swo
*.swo
.swn
*.swn

# Config

# Tools
*.log
/.sass-cache/
/templates_c/

# Windows
desktop.ini
.sass-cache/
